.layout {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    > h1 {
        text-align: center;
        padding: 25px 0px 50px 0px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .card-item {
        grid-column: auto;
    }
}